<div *ngIf="page" class="body">
  <div *ngFor="let section of page.sections" 
       [ngClass]="{'row': section.flex === 'row', 'column': section.flex === 'column', 
                   'full-width': section.width === 'full', 'page-width': section.width === 'page'}">
    
    <div *ngFor="let content of section.content" 
         [ngStyle]="{'width': (100 / section.content.length) + '%'}"
         [ngClass]="getAlignmentClass(content.align)">
      <div *ngIf="content.type === 'p'">
        <p>{{ content.content }}</p>
      </div>
      <div *ngIf="content.type === 'h1'">
        <h1>{{ content.content }}</h1>
      </div>
      <div *ngIf="content.type === 'h2'">
        <h2>{{ content.content }}</h2>
      </div>
      <div *ngIf="content.type === 'button'">
        <button>{{ content.content }}</button>
      </div>
    </div>
  </div>
</div>
