<section class="body">
  <h2 *ngIf="activePage">{{ activePage.name }}</h2>

  <div *ngIf="activePage">
    <div *ngFor="let section of activePage.sections">

      <div [ngClass]="{'row': section.flex == 'row', 'column': section.flex == 'column'}">
        <div *ngFor="let content of section.content">
          <div *ngIf="content.type === 'p'">
            <p>{{ content.content }}</p>
          </div>
          <div *ngIf="content.type === 'h1'">
            <h1>{{ content.content }}</h1>
          </div>
          <div *ngIf="content.type === 'h2'">
            <h2>{{ content.content }}</h2>
          </div>
          <div *ngIf="content.type === 'button'">
            <button>{{ content.content }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</section>
